body {
  max-width: 1440px;
  margin: 0 auto;
}

section {
  width: 100%;
  text-align: center;
  display: flex;
  position: relative;
}

.tiny-carousel-wrapper {
  width: 100%;
  display: block;
  position: relative;
  height: auto;
  overflow: hidden;
}

.tiny-carousel-slides {
  position: relative;
  width: 1500px;
}
.tiny-carousel-slides:before,
.tiny-carousel-slides:after {
  display: table;
  content: '';
}
.tiny-carousel-slides > * {
  float: left;
  min-height: 1px;
  color: black;
}